body {
            font-family: arial,tahoma,宋体;   
            font-size: 14px;
            line-height:25px;
            background:#f0eef5;
            background-repeat:no-repeat ;
            background-size:100% 100%;
            background-attachment: fixed;
            
}
div {
    opacity:0.89;
}




