.footer {
    text-align: center;
    min-height: 15px;
    height: 15px;
    margin-top: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #333;
    
}
