.userinfo{
    padding:10px;
    display:block;   
    position:absolute;  
    background-color:#f0eef5;
    
}
    .userinfo span {         
        padding:0px 0px 0px 10px;
    }
    .userinfo a {
    text-decoration:none;
    font-size:12px;
    padding:0px 0px 0px 10px;
}
.user a:hover {
    color:#ff6a00;
}
